<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 8 demos </title>
</head>
<body>
    <div id="formDemo">
    <fieldset>
    <legend>Personal Details</legend> 
        <div class="form-group" >
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" v-model="firstName"/>
        </div>  
        <div class="form-group">
            <label for="last-name"> Last Name</label>
            <input id="last-name" type="text" v-model="lastName"/>
        </div>
        <div class="form-group">
            <label for="bio">biography</label>
            <textarea id="bio" v-model="bio"></textarea>
        </div>
        </fieldset>
    </div>
        <div>
            <strong>Output</strong>
            <p>First name: {{firstName}} <br> Last Name: {{lastName}}</p>
            <p>Bio:{{bio}}</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="lib/script.js"></script>  
</body>
</html>