<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lights</title>
</head>
<body>
    <h1>Lights</h1>
    <div id="bonus">
    <table>
        <thead>
            <th>Type</th>
            <th>Location</th>
            <th>Install</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr v-for="light in lights">
                <td>{{light.type}}</td>
                <td>{{light.location}}</td>
                <td>{{light.dataInstalled}}</td>
                <td> <button type="button" v-on:click="deleteLight(light)">delete</button></td>
            </tr>
        </tbody>
    </table>
    <form v-on:submit.prevent="addLight">
        <fieldset>
            <legend> Add a light </legend>
            <div class="form-group">
                <label> Type <input v-model="typeInput" type="text"></label>
            </div>
            <div class="form-group">
                <label> Location <input v-model="locationInput" type="text"> </label>
            </div>
          <div class="form-group">
                <label> Install Date<input v-model="dateInput" type="text"></label>
            </div>
            <div class="form-group">
                <label> ID <input v-model="idInput" type="text"></label>
            </div>
            <button type="submit">Add Light</button>
        </fieldset>
    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="lib/script.js"></script>
</body>
</html>